* {
    box-sizing: border-box;
  }

  #profile {
    text-align: center;
  }
  
  html {
    scroll-behavior: smooth;
    margin: 0 100px;
  }
header {
    background-color: #1b566d;

}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }
  html {
    scroll-behavior: smooth; 
  }
  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
    text-decoration: none;
    color: #f2f2f2;
  }
  .nav-item a:hover {
    color: red;
  }
  .section-title {
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
  }
  .section {
    width: 100%;
  }
  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: 50% 50%;
}
.avatar {
    background: var(--img-url) center/cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(#000, 0.1);
    border: 2px solid #f2f2f2;
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  .rss {
    width: 141px;
    height: 45px;
    background-image: url("rs_school_js.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .footer {
    background-color: #1b566d;
    padding: 30px;  
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: rgb(255, 255, 255);
  }
  .Git-link {
    text-decoration: none;
    font-size: 22px;
    color: #f2f2f2;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  .link-CV {
    text-decoration: none;
  }
  h2 {
    background-color: #25bac5;
  }
  @media (max-width: 768px) {
    .section {
      width: 100%;
    }
  }
  body {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
  }
